# CREST Reader

In [1]:
import os
import sys

root_path = os.path.abspath(os.path.join(os.path.dirname("__file__"), '..'))
sys.path.insert(0, root_path)

from crest import converter
from crest import reader

converter = converter.Converter()
reader = reader.Reader()

In [2]:
# loading a sample dataset
df, mis = converter.convert_semeval_2007_4()

idx = 1
print(df.iloc[idx]["idx"])
print("{}:{}".format(df.iloc[idx]["span1"], df.iloc[idx]["span2"]))
print(df.iloc[idx]["context"])

# getting text between
spans = reader.get_left_between_right(df.iloc[idx])

{'span1': [[0, 19]], 'span2': [[32, 47]], 'signal': []}
['Habitat degradation']:['stream channels']
Habitat degradation from within stream channels, loss of riparian vegetation, and reductions in water quality degrade and also limit the population.

In [3]:
spans

[False,
 ' from within ',
 ', loss of riparian vegetation, and reductions in water quality degrade and also limit the population.']

## Statistics

train: 13622, dev: 1586, test: 4371

   source  count
0       1    140
1       2   8000
2       3     71
3       4    318
4       5   2608
5       6   2342
6       7    729
7       8   1000

   label  count
0      0   9852
1      1   2695
2      2   2661